html, body, div#app, div#root {
    height: 100%;
}

#logo {
    font-family: 'Nunito Sans', sans-serif;
}

.list-individual:first-child {
    padding-top: 0;
}

.list-individual:last-child {
    border: none;
    padding-bottom: 0;
}

.single-form:last-child,
.single-streak:last-child {
    margin-bottom: 0;
}

.todo-component-wrapper:last-child {
    border-bottom: 0;
}

.twitter-bg {
    background-color: #1da1f2;
}